<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2018 Videona Socialmedia SL
  ~ http://www.videona.com
  ~ info@videona.com
  ~ All rights reserved
  -->

<manifest package="com.videonasocialmedia.vimojo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.vending.BILLING" tools:node="merge"/>
</manifest>